/**************************************************************
   CSS para IE6
**************************************************************/
.logo { margin: 10px 22px 0 15px; padding: 0; }
.ipt_search { height: 23px; padding: 7px 0 0 34px; }
.add_new a { width: 100%; }

/* Horizontal */
#MenuHorizontal { width: 810px;  }

/* Direito */
#MenuDireito #textb1 { float: right; margin: -40px 34px -150px 0; }
#MenuDireito #textb2 { float: right; margin: -40px 34px -150px 0; }


/* Content */
#Content {float:left; width:768px;}

.title { margin-left: 18px; }

.icon_title { margin-bottom: -20px; }



/* Form */
#Form label { padding-top: 12px; }
#Form input { margin: 6px 0 15px 0; }
#Form textarea { margin: 6px 0 15px 0; }

/****************************************************************************************************************************
   Info
     CSS Gerado por: Carlos Roberto em 25-03-2010
     Última alteração: #MenuSimples em 25-03-2010 por Carlos Roberto
****************************************************************************************************************************/